.page-heading {
  margin-left: 70px;
  margin-bottom: 30px;
}

.booking-btn {
  color: white;
}

h1 {
  color: #474168;
}

.main {
  height: 1000px;
}

.main-container {
  display: flex;
}

#map {
  flex: 0 0 450px;
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
}
