.name-heading {
  margin-bottom: 70px;
}

.hairdresser-img {
  // height: 300px;
  width: 220px;
}

.hairdresser-location {
  font-size: 23px;
  line-height: 0;
}

.hairdresser-description {
  margin-top: 20px;
  font-size: 19px;
}

.work-samples {
  margin-top: 50px;
}

.sample-img {
  margin-right: 10px;
  margin-bottom: 50px;
  width: 300px;
}

.table-availabilities {
  margin: 50px;
}

.calendar-img {
  height: 250px;
  margin-bottom: 15px;
}

.booking-btn {
  margin: 10px;
  color: white;
}

.booking-calendar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.simple-calendar {
  text-align: center;
  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    border: solid #d6d6d6 2px;
  }
  .past {
    background-color: #ededed;
  }
  .future {}

  .start-date {}

  .prev-month {}
  .next-month {}
  .current-month {}

  .has-events {}
}

.calendar-heading a:hover {
  text-decoration: none;
}
