<div class="container" style="border:thin">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <h1>Confirmation</h1>

 <div class="message">

  <%= render 'shared/hairdresser' %>
  <div class="message-name">
    <h3>You booked - Christian Baker</h3>
    <p>Date: <%=Date.today %> </p>
  </div>
  <div class="message-body">
    <p><%= Time.now %></p>
  </div>
  <%= link_to "Delete", root_path %>
</div>
    </div>
  </div>
</div>
