<div class="container" style="border:thin">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <h1>Confirmation</h1>
      <p>You booked this hairdress for this date</p>
      <ul>
        <% @bookings.each do |booking| %>
          <li><%= booking %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
