<div class="container" style="border:thin">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <h1>Confirmation</h1>

 <div class="message">
  <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/random">
  <div class="message-name">
    <h3>You booked - Christian</h3>
    <p>Date: 23 Aug 17 </p>
  </div>
  <div class="message-body">
    <p>Time</p>
  </div>
</div>
      </ul>
    </div>
  </div>
</div>
