.card {
  height: 175px;
  color: black;
  position: relative;
  margin: 10px;
  .card-image {
    height: 175px;
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .card-image .card-hover {
    padding: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: rgba(255,255,255,0.8);
    transition: opacity 300ms ease;
    color: black;
  }
  .card-image:hover .card-hover {
    display: block;
    opacity: 1;
  }
  .card-user {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: solid white 1px;
    object-fit: cover;
  }
  .card-hairdresser {
    border-radius: 50px;
    position: absolute;
    top: 15px;
    left: 15px;
    h2 {
      font-size: 20px;
      margin: 0px;
      color: white;
    }
  }
  .card-avatar {
    display: inline;
    object-fit: cover;
  }
  .card-description {
    margin-top: 40px 5px;
    color: #272637;
  }
  p {
    font-size: 11px;
  }
}
