.footer {
  background: #272637;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  color: #627093;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #627093;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #627093;
}
