.footer {
  background: #272637;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1 rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: #627093;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #627093;
  text-decoration: none;
  font-size: 14px;
  padding: 0px 10px;
  margin-bottom: 30px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #627093;
}

.footer-copyright {
  font-size: 12px;
}
