.search-button {
  background: none;
  border: none;
  color: purple;
}

.search-bar-bundle {
  position: relative;

}
.form-control.search-bar-input {
  height: 40px;
  width: 400px;
  margin-right: -45px;
}

