.search-button {
  background: none;
  border: none;
  color: #e5e1da;
  font-size: 20px;
}

.search-bar-bundle {
  position: relative;

}
.form-control.search-bar-input {
  height: 50px;
  width: 600px;
  margin-right: -45px;
}

